body{
	font-family:'Open Sans', Calibri, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', sans-serif;
	color:#444;
}
@font-face {
    font-family: 'iconic_fill';
    src: url('iconic_fill.eot');
    src: url('iconic_fill.eot?#iefix') format('embedded-opentype'),
         url('iconic_fill.woff') format('woff'),
         url('iconic_fill.ttf') format('truetype'),
         url('iconic_fill.svg#iconic_fill') format('svg');
    font-weight: 400;
    font-style: normal;
}
html{
	background:#e9e9e9;
	padding:0;
	margin:0;
	border-top: 5px  solid #333;
}
a{
	color:#333;
}
body, div, td, option, input, textarea, select{
	font-size:14px;
	color:#333;
}
table{
	border-collapse: collapse;
}
input, textarea, select{
	font-size:12px; 
}
option, textarea, select{
	border:1px solid #999;
	margin:4px 5px;
	outline:none;
	-webkit-transition: all .1s ease-in-out 0s;
}
option:hover, textarea:hover, select:hover{
	border:1px solid #666;
	margin:4px 5px;
}
input{
	border: none;
	border-bottom: 1px dotted #888;
	-webkit-transition: all .1s ease-in-out 0s;
}
input:hover{
	border-bottom: 1px dotted #000;
}
.button,
.ed_button,
.thickbox{
	margin:4px 3px 2px 0;
	font-weight:700;
	padding:1px 7px 3px;
	border: none;
	font-size:13px;
	background:#eee;
	cursor:pointer;
	color:#333;
	-webkit-transition: all .1s ease-in-out 0s;
}
.button:hover,
.ed_button:hover,
.thickbox:hover{
	color:#fff;
	border: none;
	background:#333;
}
body{
	margin:0;
	text-align:center;
}
a {
	color:#334;
	text-decoration: none;
}
form{
	display: inline;
}
.editor-label,
.editor-label-2,
.editor-label-3{
	font-size:14px;
	display:inline-block;
	margin:5px 7px 5px 0;
}
.editor-label-2{
	width:60px;
}
.editor-label-3{
	margin-left:7px;
}
.editor-controls,
.editor-controls-2,
#summaryway,
#property,
#sticky,
#category{
	height:26px;
	font-size:14px;
	padding:0 0 0 5px;
}
.editor-controls{
	height:22px;
}
.editor-controls-2{
	margin:4px 4px 0 40px;
}
.editor-controls-2:hover{
	margin:4px 4px 0 40px;
}
.edit-entry{
	font-size:14px;
	line-height:22px;
	width:95%;
	color:#444;
	height:500px;
	padding:10px;
	margin:10px 0 0;
}
.edit-entry:hover{
	margin:10px 0 0;
}
.hide{
	display:none;
}
#tags{
	margin-top:10px;
}
#timemsg{
	display:none;
}
.formbutton{
	font-family:'Open Sans', Calibri, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', sans-serif;
	border:2px solid #333;
	background:#333;
	color: #fff;
	padding:3px 6px;
	font-weight:700;
	cursor:pointer;
	text-align: center;
	-webkit-transition: all .1s ease-in-out 0s;
}
.entry-submit{
	font-size:24px;
	margin:20px 2px 30px 0;
	width: 150px;
	height: 50px;
}
.formbutton:hover{
	color:#333;
	cursor:pointer;
	border:2px solid #333;
	text-shadow: none;
	background:#fff;
}
.formbutton2{
	font-weight:700;
	border:1px solid #cacdd9;
	font-family:'Open Sans', Calibri, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', sans-serif;
	background:-moz-linear-gradient(top,  #fff,  #eeeff2);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #eeeff2));
	cursor:pointer;
	color:#424b5e;
	text-shadow:0 1px 0 #fff;
	display: none;
}
.formbutton2:hover{
	border:1px solid #7412c1;
	text-shadow:0 1px 0 #000;
}
/*a{
	-webkit-transition-property:color, background; 
	-webkit-transition-duration: 0.2s, 0.2s;
	-webkit-transition-timing-function: ease-in, ease-in;
}*/
#adminoverall {
	width:950px;
	margin:auto;
	text-align:center;
}

#adminheader {
	height: 39px;
	margin-top:16px;
	text-align:left;
}
#admin-link{
	font-size:27px;
}
.admin-link-2 a{
	font-size:12px;
	position:absolute;
	top:23px;
	right:23px;
}
#admin-link a{
	font-weight:700;
	text-decoration:none;
	color:#333;
}
#admin-link a:hover{
	text-decoration:none;
	color: #000;
	border-bottom: 1px dotted #333;
}
#adminheaderbar{
	padding-left:0px;
	padding-top:9px;
}
#adminheaderbar ul{
	list-style: none;
	width: auto;
	margin:0;
	padding:0;
} 
#adminheaderbar li {
	font-weight:400;
	display: block;
	float:left;
	margin: 0;
	text-align: center;
	font-size:14px;
}
#adminheaderbar .firstitem {}
#adminheaderbar .ahb_active a{
	font-weight:400;
	color:#fff;
	background: #333;
}
#adminheaderbar .ahb_active li {}
#adminheaderbar .ahb_active .firstitem {}
#adminheaderbar li a {
	text-decoration: none; display: block;
	color:#333;
	font-weight: 400;
	height: 25px;
	padding: 5px 20px 0;
}

#adminheaderbar li a:hover .font-icon,
#adminheaderbar .ahb_active a .font-icon{
	color: #fff;
	opacity: 1;
	font-weight: 400;
}
#adminheaderbar li a:hover {
	color:#fff;
	background: #444;
}
#dropmenudiv{
	background:#333;
	width: 100px;
	-webkit-box-shadow:0 5px 13px rgba(0, 0, 0, 0.1);
	text-align: left;
}
#dropmenudiv ul{
	list-style: none;
	margin: 0;	padding: 0;
	width: 100px;
	height:100%;
}
#dropmenudiv li{
	display: block;
	margin: 0;	padding: 0;
	width: 100px;
	height: 30px;
	background:#fff;
	border-top: 0;
	border-bottom: 1px dotted #ddd;
}
#dropmenudiv li a{
	display: block;
	padding: 5px 0 8px 20px;
	height: 22px;
	color: #333;
	text-decoration: none;
}
#dropmenudiv li a:hover {
	display: block;
	height: 22px;
	font-weight:400;
	color: #fff;
	background:#333;
}
#adminmain{
	clear: both;
	text-align: center;
	padding: 0; margin: auto;
	width: 1000px;
	background:#fff;
	-webkit-box-shadow:0 0 21px rgba(33, 33, 33, 0.07);
}
#admininner {
	width: 960px;
	text-align: left;
	padding: 20px; 
	margin: auto;
}
#bloginfo, #bloginfoimg, #bloginfotext {
	display: none;
}
.tablewidth {
	width: 100%;
}
.visibleitem, .visibleitem tr{
	background: #fff;
}
#editentry .visibleitem, #editentry .visibleitem tr{
	background:#fff;
}
#editentry .visibleitem:hover, #editentry .visibleitem tr:hover{
	background:#fff;
}
#editentry{
	font-weight:700;
	color:#f0f;
}
.admintitle {
	font-weight:700;
	height:30px;
}
.admintitle td{
}
.sectstart {
	color:#fff;
	font-weight: 700;
	padding-left:15px;
	height: 20px;
	display: none;
	font-size:14px;
}
.sectend{
	display: none;
	color:transparent;
	text-align: right;
	padding-right: 10px;
}
.sect{
	background:#FFF;
	color:#7c8496;
	padding-left: 15px;
	padding-right: 10px;
	line-height: 150%;
}
.sect a{
	font-weight:700;
}
.sect option{
	background: #fff;
}
.sect a:hover, #copyright a:hover {
	background:#2f3649; 
	color: #fff;
}
.sectbar{
	background-color:#fff;
}
.prefleft{
	font-weight: 700;
}
.prefright{
	background:#fafafa;
	padding-left: 20px;
}
.prefsection{
	background: #eee;
	font-weight: bold;
	color: #000;
}
.prefsection a {
	color: #000;
}
#adminfooter{
	clear: both;
	text-align: right;
	height: 30px;
	width: 650px;
	float:right;
	margin-bottom:30px;
}
#copyright{
	padding: 15px 0 25px;
	color: #7c8496;
	font-weight:400;
}
#copyright a{
	color: #30374a;
	font-weight:700;
	margin:0 5px;
	text-decoration: none;
}

#uploadrow ul{background-color:#fff; list-style: none;  width:100%; margin: 0px; padding: 0px; margin-left: 15px;} 
#uploadrow li{ float:left; width: 290px; overflow: hidden; text-align: left; background-color:#fff;}
#uploadrow li a {text-decoration: none; display: block; color: #000; background-color:#fff;}
#uploadrow li a:hover {background-color: #C6E7FF;}

.highlight, .normal{
	background: #f0f2f7;
	padding: 4px;
}
.highlight {
	font-weight:700;
}

#taghint { min-height: 30px; height: 30px; }
#taghint ul { margin: 0; padding: 5px; list-style: none; }
#taghint li { display: inline; float:left; width: auto; padding-right: 18px; overflow: hidden; text-align: left;}
#taghint li a {text-decoration: none; display: block;}
#taghint li a:hover {color:#fff;}
.adminbox-success{
	background:#333;
	color: #fff;
	font-weight:700;
	height: 40px;
	padding: 10px;
}
.adminbox-success-mask{
	height: 30px;
	background:#333;
}
.adminbox-failure{
	background: #7c3e3e;
	color: #fff;
	font-weight: bold;
	height: 40px;
	padding: 10px;
}
.adminbox-failure-mask{
	height: 30px;
	background: #7c3e3e;
}
.adminbox-loading{
	background-color: #FFFFCC;
	color: #000;
	font-weight: bold;
	height: 30px;
	padding: 5px;
}
#divMask{
	margin-top: -50px;
}
.quick-links{
	font-weight:400;
	font-size:18px;
	line-height:35px;
	list-style:none;
	margin-left:30px;
	background:url('gear.png') no-repeat top right;
}
.quick-links h4{
	font-size:38px;
	line-height:49px;
}
.quick-links li a{
	padding:0 7px;
	color: #444;
	font-weight: 400;
	-webkit-transition: margin 0.2s ease-in-out 0s;
}
.font-icon{
	font-family: iconic_fill;
	font-weight: 400;
	opacity: 1;
}
.quick-links li a:hover{
	border-bottom: 1px dotted #333;
	text-decoration:none;
	color: #000;
	background: none;
	margin-left: 5px;
}
.select-style{
	float:right;
	margin:20px 20px 0 0;
}
/*Messagebox*/
#messagebox{
	background:none;
}
.messagebox{
	width:500px;
	margin-top:199px;
	text-align:center; 
	background:#fff;
}
.messagebox h3{
	font-size:21px;
	margin:0;
	padding:10px;
	font-weight:700;
}
.messagebox-content{
	color:#fff;
	background:#fff;
	padding:0px 60px 20px; 
	text-align:left;
}
.messagebox-content ul{
	font-size:22px;
	color:#333;
	line-height:34px;
	margin:16px;
	text-shadow:0 1px 1px #fff;
	list-style:disc;
}
#messagebox .messagebox a{
	font-weight:400;
	color:#444;
}
#messagebox .messagebox a:hover{
	color:#000;
	text-decoration:underline;
}
.messagebox-bottom{
	padding:10px 0 5px;
	font-size:17px;
	color:#fff;
}
#messagebox .messagebox .messagebox-bottom a{
	border:2px solid #333;
	background: #333;
	padding:3px 6px;
	font-weight:700;
	font-size:12px;
	color:#fff;
}
#messagebox .messagebox .messagebox-bottom a:hover{
	color:#333;
	background: #fff;
	text-decoration:none;
}
/* Entry List*/
.entry-list td{

}
.entry-list .visibleitem{
	border-bottom: 1px dotted #ddd;
}
.visibleitem:hover, .visibleitem tr:hover{
	background: #fafafa;
}
.entry-list .hiddenitem{
	border-bottom: 1px dotted #ddd;
}
.entry-list .hiddenitem td{
	color: #bbb !important;
	background: #fff;
}
.entry-list .hiddenitem a{
	color: #bbb !important;
}
.hiddenitem:hover, .hiddenitem tr:hover{
	background: #f5f5f5;
}
.entry-list .entry-list-center{
	text-align: center !important;
}
.entry-list-name{
	-webkit-transition: all .1s ease-in-out 0s;
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}
.entry-list-name a{
	display: block;
	width: 100%;
	height: 100%;
	padding: 8px 0;
	-webkit-transition: all .1s ease-in-out 0s;
}
.entry-list-name a:hover{
	font-weight: 700;
	color: #333 !important;
}
.entry-list tr:hover .entry-list-name{
	text-indent: 3px;
}
.entry-list-icon{
	opacity: 0;
	-webkit-transition: opacity .2s ease-in-out 0s;
}
.entry-list tr:hover .entry-list-icon{
	opacity: 0.6;
}
.entry-list-icon:hover{
	opacity: 1 !important;
}
.entry-list-name .entry-list-goto {
	display: block;
	position: absolute;
	right: 20px;
	width: 20px;
	height: 20px;
	top: 6px;
}
.entry-list-date{
	font-size: 14px;
	color: #999;
	font-family: corbel;
}
.entry-list-date b{
	width: 16px;
	color: #333;
	display: inline-block;
	text-align: right;

}
.entry-list td{
	text-align: left;
}
.entry-list-pages td{
	font-size: 14px;
	padding-top: 20px;
}
/* Module */
.module{
	border-bottom: 1px dotted #ddd;
}
.module a:hover{
	background: none;
}
.module .module-icon{
	opacity: 0;
	-webkit-transition: all .1s ease-in-out 0s;
}
.module:hover .module-icon{
	opacity: 0.6;
}
.module-icon:hover{
	opacity: 1 !important;
}
.module:hover{
	background: #f1f1f1;
}
.navi1{
	background: #333;
}
.navi1 a{
	color: #fff;
}
.navi2{
	background: #eee;
	border-bottom: 1px dotted #bbb;
}
.navi2 a:hover{
	background: none;
	color: #333;
}
/* Pagebar */
.pagebar-left-most,
.pagebar-right-most{
	opacity: 0.2;
}
.pagebar-current{
	font-size: 17px;
	font-weight: 700;
	padding: 1px 7px;
}
.pagebar-number,
.pagebar-right,
.pagebar-left{
	display: inline-block;
	background: #eee;
	font-weight: 700;
	padding: 1px 7px;
	-webkit-transition: all .1s ease-in-out 0s;
	font-size: 17px;
}
.pagebar-left:hover,
.pagebar-right:hover,
.pagebar-number:hover{
	background: #333;
	color: #fff;
}
.pagebar-label{
	margin-right: 50px;
}