#pagelocation-archive .textbox-title{
	display: none;
}
.archive-list{
	clear: both;
}
.archive-page-desc{
	font-weight: 400;
}
.archive-year{
	padding: 1em 1em 0 0;
	text-align: center;
	font-weight: 700;
	font-size: 2.5em;
	line-height: 0.8em;
	vertical-align: middle;
	color: #0157ae;
}
.archive-year-2004{
	display: none;
}
.archive-year-count{
	vertical-align: middle;
	color: #fff;
	font-size: 0.3em;
	margin-left: 2em;
	background: #0157ae;
	padding: .5em .5em .3em;
}
.archive-hot{
	font-size: 0.875em;
	margin: 20px 0 0.5em 2em;
	display: block;
	list-style-position: inside;
}
.archive-hot li{
	float: left;
	margin: 0 2.5em 0 0em;
}
.archive-hot li a{
	font-weight: 400;
}
.archive-summary{
	clear: both;
	display: block;
	width: 97%;
	margin: 0.2em 0 8em;
	opacity: 0.6;
	-webkit-transition: opacity .15s ease-in-out 0s;
	-moz-transition: opacity .15s ease-in-out 0s;
}
.archive-summary:hover{
	opacity: 1;
}
.archive-summary-header{
	width: 100%;
	height: 0.2em;
	display: block;
}
.archive-summary-header div{
	float: left;
	width: 8.33%;
	text-align: center;
	font-size: 0.7em;
	display: inline-block;
}
.s-m{
	width: 1.92%;
	float: left;
	height: 5em;
}
.d0,
.df,
.d1,
.d2,
.d3{
	width: 80%;
	height: 14.2%;
	display: inline-block;
	background: #dce0e8;
	margin: 0.1em 0;
	border-radius: .15em;
}
.d1{
	background: #a8aebd;
}
.d2{
	background: #616775;
}
.d3{
	background: #2c3240;
}
.archive-summary a{
	border: none;
	-webkit-transition: all .15s ease-in-out 0s;
	-moz-transition: all .15s ease-in-out 0s;
}
.archive-summary a:hover{
	border: none;
}
.d1:hover,
.d2:hover,
.d3:hover{
	background: #0157ae;
}
.d0{
	cursor: default;
}
.df{
	cursor: default;
	opacity: 0.3;
}
/*~Infographics*/
.archive-infographics{
	clear: both;
	display: block;
	width: 100%;
	text-align: left;
}
.main-counters{
	float: left;
	width: 33%;
	padding: 0 0 1.5em;
	border-bottom: 1px dotted #dce;
	margin: 0 0 1em;
}
.counters-numbers{
	font-weight: 700;
	line-height: 1.1;
	font-size: 3.5em;
	display: inline;
	letter-spacing: -0.07em;
}
.counters-desc{
	display: inline;
}
.counters-desc span{
	display: block;
	font-size: 0.75em;
	color: #7987A8;
	text-align: left;
	line-height: 1.25;
}
.tooltip {
	display:none;
	background: #2c3344;
	z-index: 33133;
	font-size:1.6em;
	height: auto;
	width:18em;
	padding: .6em .5em;
	color:#fff;
	line-height: 1.5;
}
.d-h-d{
	color: #626b82;
}
.d-h-l{
	text-align: left;
	color: #626b82;
	list-style-position: outside;
}
.d-h-l a{
	color: #fff;
	font-weight: 700;
	-webkit-transition: all .15s ease-in-out 0s;
	-moz-transition: all .15s ease-in-out 0s;
}
.d-h-l a:hover{
	text-decoration: none;
	color: #c3cad6;
	padding-left: .2em;
}
/*Small Reslutions*/
@media screen and (max-width: 1100px) {
	.counters-desc{
		clear: both;
		float: none;
		display: block;
	}
}
@media screen and (max-width: 780px) {
	.s-m{
		height: 4em;
	}
	.counters-numbers{
		font-size: 2em;
	}
}
/* iPhone*/
@media screen and (max-device-width: 480px){
	.archive-summary{
		margin: 0.2em 0 8em;
	}
	.s-m{
		height: 2.3em;
	}
	.archive-summary-header div{
		font-size: 0.5em;
	}
	.s-d{
		border-radius: .05em;
	}
	.archive-year{
		padding: 0;
		font-size: 1.5em;
	}
	.archive-desc{
		display: none;
	}
	.archive-hot{
		font-size: 0.875em;
		margin: .4em 0 .5em;
		width: 100%;
		display: block;
		list-style-position: inside;
	}
	.archive-hot li{
		float: none;
		margin: 0;
	}
	.archive-month a strong{
		font-size: 1.5em;
	}
	.counters-numbers{
		font-size: 2em;
	}
	.counters-desc span{
		display: none;
	}
	.tooltip {
		font-size:0.6em;
		height: auto;
		width: 8em;
	}
}