#ds-thread #ds-reset .ds-highlight{color: #8793AD !important; font-weight:700 !important;font-size:17px;}
.ds-user-name{font-weight:700;}
#ds-recent-comments li.ds-comment{font-size:1em;}
#ds-recent-comments li.ds-comment .ds-excerpt{line-height:1.5;}
