HTML {
    PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px;
}

BODY {
    PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px;
	font-stretch: expanded;
	word-spacing: 25px;
	text-align: center;
}

a:link { text-decoration: none;color: #00A0E9}
a:active { text-decoration:blink;color: #00A0E9}
a:hover { text-decoration:underline;color: #00A0E9} 
a:visited { text-decoration: none;color: #00A0E9}

.main {
    width: 100%;
    position: relative;
    margin: 0 auto;
}
.top_img {
    height: 150px;
    margin: 0 auto;
	display: block;
}
.title_div {
	padding-top: 10px;
	text-align: left;
	font-size: 40px;
	font-weight: bold;
	font-family: "黑体";
	width: 100%;
}

.title_div1 {
	top: 1000px;
    padding-top: 10px;
    text-align: left;
    font-size: 40px;
    font-weight: bold;
    font-family: "黑体";
    position: absolute;
}

.picture_div {
	margin: 0 auto;

}

.font_1{
    font-family: "微软雅黑";
    font-size: 20px;
    line-height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
}

.picture_detail_div {
	top: 750px;
	padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
}

.wangjin_img {
	float: left;
	padding-left:20px;
	position: absolute;
	top: 0px;
}

.font_2 {
	font-family: "微软雅黑";
    font-size: 26px;
    line-height: 30px;
    left: 270px;
    width: 100px;
    position: absolute;
}

.font_3 {
    font-family: "微软雅黑";
    font-size: 20px;
    line-height: 30px;
    left: 270px;
    position: absolute;
    top: 35px;
}

.font_4 {
	font-family: "微软雅黑";
    font-size: 18px;
    line-height: 30px;
    padding-left: 20px;
    top: 1300px;
    text-align: left;
    position: absolute;
}

.title_div2 {
	padding-top: 10px;
    text-align: left;
    font-size: 40px;
    font-weight: bold;
    font-family: "黑体";
	position: absolute;
	top: 1760px;
}

.post_div {
	position: absolute;
    top: 1870px;
    padding-left: 20px;
}

.font_5 {
    font-family: "微软雅黑";
    font-size: 20px;
    line-height: 30px;
    top: 2250px;
    text-align: left;
    padding-left: 20px;
    position: absolute;
}

.font_6 {
    font-family: "微软雅黑";
    font-size: 20px;
    line-height: 30px;
    padding-left: 470px;
    top: 3100px;
    text-align: left;
    position: absolute;
}

.title_div3 {
    padding-top: 10px;
    text-align: left;
    font-size: 40px;
    font-weight: bold;
    font-family: "黑体";
    position: absolute;
    top: 3220px;
}

.a_div {
	position: absolute;
    top: 3320px;
    padding-left: 20px;
}

.font_7 {
    font-family: "微软雅黑";
    font-size: 20px;
    line-height: 30px;
    top: 3350px;
    text-align: left;
    padding-left: 20px;
    position: absolute;
}

.bottom_div {
	position: absolute;
	top: 3750px;
}

.other_div {
	width: 100%;
    height: 250px;
    padding-top: 50px;
}

.other_img1 {
	float: left;
	padding-left: 50px;
}

.other_img2 {
    float: right;
    padding-right: 50px;
}

.img_words {
	height: 80px;
	text-align: center;
	font-family: "微软雅黑";
    font-size: 16px;
    line-height: 30px;
}

.introduction_div {
	position: absolute;
	top: 1080px;
	width: 200px;
}