/*Designed by JJ.Ying
http://IconMoon.com
Apr. 2013*/
@charset "utf-8";
*{
	margin:0;
	padding:0;
	border:0;
	font-size: 100%;
	vertical-align: baseline;
	outline:none;
}
html,body{
	font-family: "Open Sans","Corbel", sans-serif;
	width:100%;
	height:100%;
}
/*Common*/
.center{
	position:absolute;
	top:50%;
	left:50%;
	z-index:1;
}
.gap{
	background: #0c0c0c;
	display: block;
	height: 2800px;
	width: 100%;
}
.button{
	display:block;
	width:60px;
	height:60px;
	position:absolute;
	bottom:40px;
	left:50%;
	margin-left:-30px;
	opacity: 0.75;
	background:url(images/arrow.png);
	-webkit-transition: all .2s ease-in 0s;
	z-index: 9999;
	-webkit-transform: scale(0.8);
}
.button:hover{
	opacity: 1;
	-webkit-transform: scale(1);
	cursor:pointer;
}
.dark-button{
	background-position: 0 -60px;
}
.button-2-top{
	background-position: -60px 0;
	bottom: none;
	top: 30px;
	width: 80px;
	height: 80px;
	margin-left: -40px;
}
/*Animations - Webkit*/
@-webkit-keyframes 'fade-in'
{
0%   {opacity: 0;}
100% {opacity: 1;}
}
@-webkit-keyframes 'l-in'
{
0%   {opacity: 0;-webkit-transform: translate(-50px,0px);}
100% {opacity: 1;-webkit-transform: translate(0px,0px);}
}
@-webkit-keyframes 'r-in'
{
0%   {opacity: 0;-webkit-transform: translate(50px,0px);}
100% {opacity: 1;-webkit-transform: translate(0px,0px);}
}
@-webkit-keyframes 'top-in'
{
0%   {opacity: 0;-webkit-transform: translate(0px,-50px);}
100% {opacity: 1;-webkit-transform: translate(0px,0px);}
}
@-webkit-keyframes 'rotate'
{
0%   {-webkit-transform: rotate(0deg);opacity: 1;}
100%   {-webkit-transform: rotate(360deg);opacity:1;}
}
@-webkit-keyframes 'blur-in' {
0%{opacity:0;-webkit-filter:blur(25px);}
100%{opacity:1;-webkit-filter:blur(0px);}
}
/*Animations - FF*/
@-moz-keyframes fade-in
{
0%   {opacity: 0;}
100% {opacity: 1;}
}
@-moz-keyframes l-in
{
0%   {opacity: 0;-moz-transform: translate(-50px,0px);}
100% {opacity: 1;-moz-transform: translate(0px,0px);}
}
@-moz-keyframes r-in
{
0%   {opacity: 0;-moz-transform: translate(50px,0px);}
100% {opacity: 1;-moz-transform: translate(0px,0px);}
}
@-moz-keyframes top-in
{
0%   {opacity: 0;-moz-transform: translate(0px,-50px);}
100% {opacity: 1;-moz-transform: translate(0px,0px);}
}
@-moz-keyframes rotate
{
0%   {-moz-transform: rotate(0deg);opacity: 1;}
100%   {-moz-transform: rotate(360deg);opacity:1;}
}
.slide{
	background-attachment: fixed;
	width:100%;
	height:100%;
	position: relative;
}
.wrapper{
	width:960px;
	height:200px;
	margin:0 auto;
	position:relative;
}
.slideno{
	position:absolute;
	bottom:0px;
	left:0px;
	font-size:100px;
	font-weight:bold;
	color:rgba(255,255,255,0.3);
}
/* Slide 1 */
@-webkit-keyframes 'first-down-btn'
{
50% {-webkit-transform: scale(0.8);}
60% {-webkit-transform: scale(0.95);}
65% {-webkit-transform: scale(0.61);}
70% {-webkit-transform: scale(0.8);}
100% {-webkit-transform: scale(0.8);}
}
@-moz-keyframes first-down-btn
{
0% {-moz-transform: scale(0.8);}
50% {-moz-transform: scale(0.8);}
60% {-moz-transform: scale(0.95);}
65% {-moz-transform: scale(0.61);}
70% {-moz-transform: scale(0.8);}
100% {-moz-transform: scale(0.8);}
}
@-webkit-keyframes 'name-in'
{
0%   {opacity: 0;-webkit-transform:translate(0px,-50px);}
100% {opacity: 1;-webkit-transform:translate(0px,0px);}
}
@-moz-keyframes name-in
{
0%   {opacity: 0;-moz-transform:translate(0px,-50px);}
100% {opacity: 1;-moz-transform:translate(0px,0px);}
}
#slide1{
	background:#0d6fd5;
}
#slide1 .button{
	-webkit-animation: first-down-btn 2.7s ease-in-out 0s infinite;
	-moz-animation: first-down-btn 2.7s ease-in-out 0s infinite;
}
#slide1 .button:hover{
	-webkit-animation: none;
	-moz-animation: none;
}
.animations{
	width:250px;
	margin-top:-215px;
	margin-left:-125px;
	-webkit-animation:name-in 0.7s ease-out 0.7s 1 both;
	-moz-animation:name-in 0.7s ease-out 0.7s 1 both;
}
.text{
	width:737px;
	opacity: 0;
	color: #fff;
	text-align: center;
	font-size: 48px;
	font-weight: 700;
	font-style: italic;
	margin-top:90px;
	margin-left:-368px;
	-webkit-animation:name-in 0.7s ease-out 0.5s 1 both;
	-moz-animation:name-in 0.7s ease-out 0.5s 1 both;
}
.text-2{
	margin-top:141px;
-webkit-animation:name-in 0.7s ease-out 0.3s 1 both;
-moz-animation:name-in 0.7s ease-out 0.3s 1 both;	
}
.text a{
	color: #fff;
	text-decoration: none;
	border-bottom: 2px solid #fff;
	-webkit-transition: all .15s ease-in-out 0s;	
}
.text a:hover{
	border-bottom: 10px solid #fff;
}
/*Gap*/
#gap-1-2{
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #0D6ED5),
		color-stop(1, #EA4C89)
	);
	background-image: -o-linear-gradient(bottom, #0D6ED5 0%, #EA4C89 100%);
	background-image: -moz-linear-gradient(bottom, #0D6ED5 0%, #EA4C89 100%);
	background-image: -webkit-linear-gradient(bottom, #0D6ED5 0%, #EA4C89 100%);
	background-image: -ms-linear-gradient(bottom, #0D6ED5 0%, #EA4C89 100%);
	background-image: linear-gradient(to bottom, #0D6ED5 0%, #EA4C89 100%);
}
#gap-2-3{
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(1, #EA4C89),
		color-stop(1, #0D6ED5)
	);
	background-image: -o-linear-gradient(bottom, #EA4C89 100%, #0D6ED5 100%);
	background-image: -moz-linear-gradient(bottom, #EA4C89 100%, #0D6ED5 100%);
	background-image: -webkit-linear-gradient(bottom, #EA4C89 100%, #0D6ED5 100%);
	background-image: -ms-linear-gradient(bottom, #EA4C89 100%, #0D6ED5 100%);
	background-image: linear-gradient(to bottom, #EA4C89 100%, #0D6ED5 100%);
}
/*~Cover*/
#cover{
	background: #333 url(images/bg.jpg);
	background-size: cover;
	background-attachment: fixed;
	box-shadow:inset 0px -20px 50px rgba(0,0,0,0.5);	
}
#cover .text{
	font-weight: 100;
	width: 578px;
	margin-left:-289px;	
}
#cover .animations{
	margin-top:-138px;
	width: 578px;
	margin-left:-289px;		
}
#cover .cover-text-1{
	margin-top:-95px;	
}
#cover .cover-text-2{
	margin-top:115px;	
}
#gap-cover{
	background-image: -webkit-linear-gradient(bottom, #333 100%, #2c3246 100%);
}
/*~IconMoon*/
#iconmoon{
	background: #2c3246;
	background: #2b2c45;
}
#gap-iconmoon{
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #2C3246),
		color-stop(1, #EA4C89)
	);
	background-image: -o-linear-gradient(bottom, #2C3246 0%, #EA4C89 100%);
	background-image: -moz-linear-gradient(bottom, #2C3246 0%, #EA4C89 100%);
	background-image: -webkit-linear-gradient(bottom, #2C3246 0%, #EA4C89 100%);
	background-image: -ms-linear-gradient(bottom, #2C3246 0%, #EA4C89 100%);
	background-image: linear-gradient(to bottom, #2C3246 0%, #EA4C89 100%);
}
/*~Dribbble*/
#dribbble{
	background: #ea4c89;
}
#dribbble strong{
	color: #ff9fbc;
}
/*~PSD*/
#psd{
	background: #00e0ff;
}
/* Slide 3 - Baidu*/
#slide3{
	background:#0d6fd5;
}